In [1]:
#Dependencies
import pandas as pd
import numpy as np
from sportsreference.nba.schedule import Schedule
from datetime import date

In [2]:
#bucks schedule object
bucks_schedule_19 = Schedule('MIL', 2019)

In [3]:
#bucks data frame *focusing on regular season*
dates = []
results = []
locations = []
game_nums = []
opponents = []
for game in bucks_schedule_19:
    
    if game.playoffs == False:
        print(game.datetime)  
        print(game.result) 
        print(game.location)
        print(game.game)
        dates.append(game.datetime)
        results.append(game.result)
        locations.append(game.location)
        game_nums.append(game.game)
        opponents.append(game.opponent_abbr)

2018-10-17 00:00:00
Win
Away
1
2018-10-19 00:00:00
Win
Home
2
2018-10-22 00:00:00
Win
Home
3
2018-10-24 00:00:00
Win
Home
4
2018-10-26 00:00:00
Win
Away
5
2018-10-27 00:00:00
Win
Home
6
2018-10-29 00:00:00
Win
Home
7
2018-11-01 00:00:00
Loss
Away
8
2018-11-04 00:00:00
Win
Home
9
2018-11-06 00:00:00
Loss
Away
10
2018-11-08 00:00:00
Win
Away
11
2018-11-10 00:00:00
Loss
Away
12
2018-11-11 00:00:00
Win
Away
13
2018-11-14 00:00:00
Loss
Home
14
2018-11-16 00:00:00
Win
Home
15
2018-11-19 00:00:00
Win
Home
16
2018-11-21 00:00:00
Win
Home
17
2018-11-23 00:00:00
Loss
Home
18
2018-11-24 00:00:00
Win
Home
19
2018-11-26 00:00:00
Loss
Away
20
2018-11-28 00:00:00
Win
Home
21
2018-12-01 00:00:00
Loss
Away
22
2018-12-05 00:00:00
Win
Home
23
2018-12-07 00:00:00
Loss
Home
24
2018-12-09 00:00:00
Win
Away
25
2018-12-10 00:00:00
Win
Home
26
2018-12-12 00:00:00
Loss
Away
27
2018-12-14 00:00:00
Win
Away
28
2018-12-17 00:00:00
Win
Away
29
2018-12-19 00:00:00
Win
Home
30
2018-12-21 00:00:00
Win
Away
31
2018-12-22 00:00:00
Loss
Away
32
2018-12-25 00:00:00
Win
Away
33
2018-12-27 00:00:00
Win
Home
34
2018-12-29 00:00:00
Win
Home
35
2019-01-01 00:00:00
Win
Home
36
2019-01-04 00:00:00
Win
Home
37
2019-01-05 00:00:00
Loss
Home
38
2019-01-07 00:00:00
Win
Home
39
2019-01-09 00:00:00
Win
Away
40
2019-01-11 00:00:00
Loss
Away
41
2019-01-13 00:00:00
Win
Away
42
2019-01-15 00:00:00
Win
Home
43
2019-01-16 00:00:00
Win
Away
44
2019-01-19 00:00:00
Win
Away
45
2019-01-21 00:00:00
Win
Home
46
2019-01-25 00:00:00
Win
Home
47
2019-01-27 00:00:00
Loss
Away
48
2019-01-29 00:00:00
Win
Away
49
2019-01-31 00:00:00
Win
Away
50
2019-02-02 00:00:00
Win
Away
51
2019-02-04 00:00:00
Win
Away
52
2019-02-06 00:00:00
Win
Home
53
2019-02-08 00:00:00
Win
Away
54
2019-02-09 00:00:00
Loss
Home
55
2019-02-11 00:00:00
Win
Away
56
2019-02-13 00:00:00
Win
Away
57
2019-02-21 00:00:00
Win
Home
58
2019-02-23 00:00:00
Win
Home
59
2019-02-25 00:00:00
Win
Away
60
2019-02-27 00:00:00
Win
Away
61
2019-03-01 00:00:00
Win
Away
62
2019-03-02 00:00:00
Loss
Away
63
2019-03-04 00:00:00
Loss
Away
64
2019-03-07 00:00:00
Win
Home
65
2019-03-09 00:00:00
Win
Home
66
2019-03-10 00:00:00
Loss
Away
67
2019-03-12 00:00:00
Win
Away
68
2019-03-15 00:00:00
Win
Away
69
2019-03-17 00:00:00
Loss
Home
70
2019-03-19 00:00:00
Win
Home
71
2019-03-20 00:00:00
Loss
Away
72
2019-03-22 00:00:00
Win
Home
73
2019-03-24 00:00:00
Win
Home
74
2019-03-26 00:00:00
Win
Home
75
2019-03-28 00:00:00
Win
Home
76
2019-03-31 00:00:00
Loss
Away
77
2019-04-01 00:00:00
Win
Away
78
2019-04-04 00:00:00
Win
Away
79
2019-04-06 00:00:00
Loss
Home
80
2019-04-07 00:00:00
Win
Home
81
2019-04-10 00:00:00
Loss
Home
82

In [4]:
#creating bucks dictionary
bucks_dict = {
    "dates": dates,
    "results": results,
    "locations": locations,
    "game_nums": game_nums,
    "opponent": opponents
}

#creating bucks data frame
bucks_df = pd.DataFrame(bucks_dict)
bucks_df

        dates results locations  game_nums opponent
0  2018-10-17     Win      Away          1      CHO
1  2018-10-19     Win      Home          2      IND
2  2018-10-22     Win      Home          3      NYK
3  2018-10-24     Win      Home          4      PHI
4  2018-10-26     Win      Away          5      MIN
..        ...     ...       ...        ...      ...
77 2019-04-01     Win      Away         78      BRK
78 2019-04-04     Win      Away         79      PHI
79 2019-04-06    Loss      Home         80      BRK
80 2019-04-07     Win      Home         81      ATL
81 2019-04-10    Loss      Home         82      OKC

[82 rows x 5 columns]

In [5]:
#finding the number of games between each game
bucks_df["date_diff"] = 0

for i in range(1,len(bucks_df)):    
    bucks_df["date_diff"][i] = bucks_df["dates"][i] - bucks_df["dates"][(i-1)]
    
bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        dates results locations  game_nums opponent        date_diff
0  2018-10-17     Win      Away          1      CHO                0
1  2018-10-19     Win      Home          2      IND  2 days 00:00:00
2  2018-10-22     Win      Home          3      NYK  3 days 00:00:00
3  2018-10-24     Win      Home          4      PHI  2 days 00:00:00
4  2018-10-26     Win      Away          5      MIN  2 days 00:00:00
..        ...     ...       ...        ...      ...              ...
77 2019-04-01     Win      Away         78      BRK  1 days 00:00:00
78 2019-04-04     Win      Away         79      PHI  3 days 00:00:00
79 2019-04-06    Loss      Home         80      BRK  2 days 00:00:00
80 2019-04-07     Win      Home         81      ATL  1 days 00:00:00
81 2019-04-10    Loss      Home         82      OKC  3 days 00:00:00

[82 rows x 6 columns]

In [6]:
#inserting value for the date diff in the first game
#using the difference between the last preseason game and the first regular season game
bucks_df["date_diff"][0] = 5

#converting to a time delta
bucks_df["date_diff"][0] = pd.to_timedelta(bucks_df["date_diff"][0], unit = "D")


bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        dates results locations  game_nums opponent        date_diff
0  2018-10-17     Win      Away          1      CHO  5 days 00:00:00
1  2018-10-19     Win      Home          2      IND  2 days 00:00:00
2  2018-10-22     Win      Home          3      NYK  3 days 00:00:00
3  2018-10-24     Win      Home          4      PHI  2 days 00:00:00
4  2018-10-26     Win      Away          5      MIN  2 days 00:00:00
..        ...     ...       ...        ...      ...              ...
77 2019-04-01     Win      Away         78      BRK  1 days 00:00:00
78 2019-04-04     Win      Away         79      PHI  3 days 00:00:00
79 2019-04-06    Loss      Home         80      BRK  2 days 00:00:00
80 2019-04-07     Win      Home         81      ATL  1 days 00:00:00
81 2019-04-10    Loss      Home         82      OKC  3 days 00:00:00

[82 rows x 6 columns]

In [7]:
#Converting the date difference series back into an integer for easier comparisons
for day in range(0,len(bucks_df["date_diff"])):
    bucks_df["date_diff"][day] = bucks_df["date_diff"][day] / np.timedelta64(1, 'D')


bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        dates results locations  game_nums opponent date_diff
0  2018-10-17     Win      Away          1      CHO         5
1  2018-10-19     Win      Home          2      IND         2
2  2018-10-22     Win      Home          3      NYK         3
3  2018-10-24     Win      Home          4      PHI         2
4  2018-10-26     Win      Away          5      MIN         2
..        ...     ...       ...        ...      ...       ...
77 2019-04-01     Win      Away         78      BRK         1
78 2019-04-04     Win      Away         79      PHI         3
79 2019-04-06    Loss      Home         80      BRK         2
80 2019-04-07     Win      Home         81      ATL         1
81 2019-04-10    Loss      Home         82      OKC         3

[82 rows x 6 columns]

In [8]:
#date diff is only the difference between the two games
#creating a column to represent the "rest" days between the games
#"rest" in this case is the days between each game where a game is not being played and does not account for practices
bucks_df["rest"] = bucks_df["date_diff"] - 1 

bucks_df.head()

       dates results locations  game_nums opponent date_diff rest
0 2018-10-17     Win      Away          1      CHO         5    4
1 2018-10-19     Win      Home          2      IND         2    1
2 2018-10-22     Win      Home          3      NYK         3    2
3 2018-10-24     Win      Home          4      PHI         2    1
4 2018-10-26     Win      Away          5      MIN         2    1

In [10]:
#write to csv
bucks_df.to_csv("../data/bucks_18_19_rest.csv", index = False)