In [1]:
#Dependencies
import pandas as pd
import numpy as np
from sportsreference.nba.schedule import Schedule
from datetime import date

In [2]:
#bucks schedule object
bucks_schedule_18 = Schedule('MIL', 2018)

In [5]:
#bucks data frame *focusing on regular season*
dates = []
results = []
locations = []
game_nums = []
opponents = []

for game in bucks_schedule_18:
    
    if game.playoffs == False:
        print(game.datetime)  
        print(game.result) 
        print(game.location)
        print(game.game)
        dates.append(game.datetime)
        results.append(game.result)
        locations.append(game.location)
        game_nums.append(game.game)
        opponents.append(game.opponent_abbr)

2017-10-18 00:00:00
Win
Away
1
2017-10-20 00:00:00
Loss
Home
2
2017-10-21 00:00:00
Win
Home
3
2017-10-23 00:00:00
Win
Home
4
2017-10-26 00:00:00
Loss
Home
5
2017-10-29 00:00:00
Win
Away
6
2017-10-31 00:00:00
Loss
Home
7
2017-11-01 00:00:00
Loss
Away
8
2017-11-03 00:00:00
Loss
Away
9
2017-11-07 00:00:00
Loss
Away
10
2017-11-10 00:00:00
Win
Away
11
2017-11-11 00:00:00
Win
Home
12
2017-11-13 00:00:00
Win
Home
13
2017-11-15 00:00:00
Win
Home
14
2017-11-18 00:00:00
Loss
Away
15
2017-11-20 00:00:00
Loss
Home
16
2017-11-22 00:00:00
Win
Away
17
2017-11-25 00:00:00
Loss
Away
18
2017-11-28 00:00:00
Win
Away
19
2017-11-30 00:00:00
Win
Away
20
2017-12-02 00:00:00
Win
Home
21
2017-12-04 00:00:00
Loss
Away
22
2017-12-06 00:00:00
Win
Home
23
2017-12-08 00:00:00
Win
Home
24
2017-12-09 00:00:00
Win
Home
25
2017-12-13 00:00:00
Loss
Away
26
2017-12-15 00:00:00
Loss
Home
27
2017-12-16 00:00:00
Loss
Away
28
2017-12-19 00:00:00
Win
Home
29
2017-12-22 00:00:00
Win
Home
30
2017-12-23 00:00:00
Loss
Away
31
2017-12-26 00:00:00
Loss
Home
32
2017-12-28 00:00:00
Win
Home
33
2017-12-29 00:00:00
Win
Away
34
2018-01-01 00:00:00
Loss
Away
35
2018-01-03 00:00:00
Win
Home
36
2018-01-05 00:00:00
Loss
Home
37
2018-01-06 00:00:00
Win
Away
38
2018-01-08 00:00:00
Loss
Away
39
2018-01-10 00:00:00
Win
Home
40
2018-01-12 00:00:00
Loss
Home
41
2018-01-14 00:00:00
Loss
Away
42
2018-01-15 00:00:00
Win
Away
43
2018-01-17 00:00:00
Loss
Home
44
2018-01-20 00:00:00
Loss
Away
45
2018-01-22 00:00:00
Win
Home
46
2018-01-26 00:00:00
Win
Home
47
2018-01-28 00:00:00
Win
Away
48
2018-01-29 00:00:00
Win
Home
49
2018-02-01 00:00:00
Loss
Away
50
2018-02-02 00:00:00
Win
Home
51
2018-02-04 00:00:00
Win
Away
52
2018-02-06 00:00:00
Win
Away
53
2018-02-09 00:00:00
Loss
Away
54
2018-02-10 00:00:00
Win
Away
55
2018-02-13 00:00:00
Win
Home
56
2018-02-15 00:00:00
Loss
Home
57
2018-02-23 00:00:00
Win
Away
58
2018-02-25 00:00:00
Loss
Home
59
2018-02-27 00:00:00
Loss
Home
60
2018-02-28 00:00:00
Loss
Away
61
2018-03-02 00:00:00
Loss
Home
62
2018-03-04 00:00:00
Win
Home
63
2018-03-05 00:00:00
Loss
Away
64
2018-03-07 00:00:00
Loss
Home
65
2018-03-09 00:00:00
Win
Home
66
2018-03-12 00:00:00
Win
Away
67
2018-03-14 00:00:00
Loss
Away
68
2018-03-17 00:00:00
Win
Home
69
2018-03-19 00:00:00
Loss
Away
70
2018-03-21 00:00:00
Loss
Home
71
2018-03-23 00:00:00
Win
Away
72
2018-03-25 00:00:00
Win
Home
73
2018-03-27 00:00:00
Loss
Away
74
2018-03-29 00:00:00
Win
Away
75
2018-03-30 00:00:00
Win
Away
76
2018-04-01 00:00:00
Loss
Away
77
2018-04-03 00:00:00
Win
Home
78
2018-04-05 00:00:00
Loss
Home
79
2018-04-07 00:00:00
Win
Away
80
2018-04-09 00:00:00
Win
Home
81
2018-04-11 00:00:00
Loss
Away
82

In [6]:
#creating bucks dictionary
bucks_dict = {
    "dates": dates,
    "results": results,
    "locations": locations,
    "game_nums": game_nums,
    "opponent": opponents
}

#creating bucks data frame
bucks_df = pd.DataFrame(bucks_dict)
bucks_df

        dates results locations  game_nums opponent
0  2017-10-18     Win      Away          1      BOS
1  2017-10-20    Loss      Home          2      CLE
2  2017-10-21     Win      Home          3      POR
3  2017-10-23     Win      Home          4      CHO
4  2017-10-26    Loss      Home          5      BOS
..        ...     ...       ...        ...      ...
77 2018-04-03     Win      Home         78      BOS
78 2018-04-05    Loss      Home         79      BRK
79 2018-04-07     Win      Away         80      NYK
80 2018-04-09     Win      Home         81      ORL
81 2018-04-11    Loss      Away         82      PHI

[82 rows x 5 columns]

In [7]:
#finding the number of games between each game
bucks_df["date_diff"] = 0

for i in range(1,len(bucks_df)):    
    bucks_df["date_diff"][i] = bucks_df["dates"][i] - bucks_df["dates"][(i-1)]
    
bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        dates results locations  game_nums opponent        date_diff
0  2017-10-18     Win      Away          1      BOS                0
1  2017-10-20    Loss      Home          2      CLE  2 days 00:00:00
2  2017-10-21     Win      Home          3      POR  1 days 00:00:00
3  2017-10-23     Win      Home          4      CHO  2 days 00:00:00
4  2017-10-26    Loss      Home          5      BOS  3 days 00:00:00
..        ...     ...       ...        ...      ...              ...
77 2018-04-03     Win      Home         78      BOS  2 days 00:00:00
78 2018-04-05    Loss      Home         79      BRK  2 days 00:00:00
79 2018-04-07     Win      Away         80      NYK  2 days 00:00:00
80 2018-04-09     Win      Home         81      ORL  2 days 00:00:00
81 2018-04-11    Loss      Away         82      PHI  2 days 00:00:00

[82 rows x 6 columns]

In [8]:
#inserting value for the date diff in the first game
#using the difference between the last preseason game and the first regular season game
bucks_df["date_diff"][0] = 5

#converting to a time delta
bucks_df["date_diff"][0] = pd.to_timedelta(bucks_df["date_diff"][0], unit = "D")


bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        dates results locations  game_nums opponent        date_diff
0  2017-10-18     Win      Away          1      BOS  5 days 00:00:00
1  2017-10-20    Loss      Home          2      CLE  2 days 00:00:00
2  2017-10-21     Win      Home          3      POR  1 days 00:00:00
3  2017-10-23     Win      Home          4      CHO  2 days 00:00:00
4  2017-10-26    Loss      Home          5      BOS  3 days 00:00:00
..        ...     ...       ...        ...      ...              ...
77 2018-04-03     Win      Home         78      BOS  2 days 00:00:00
78 2018-04-05    Loss      Home         79      BRK  2 days 00:00:00
79 2018-04-07     Win      Away         80      NYK  2 days 00:00:00
80 2018-04-09     Win      Home         81      ORL  2 days 00:00:00
81 2018-04-11    Loss      Away         82      PHI  2 days 00:00:00

[82 rows x 6 columns]

In [9]:
#Converting the date difference series back into an integer for easier comparisons
for day in range(0,len(bucks_df["date_diff"])):
    bucks_df["date_diff"][day] = bucks_df["date_diff"][day] / np.timedelta64(1, 'D')


bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        dates results locations  game_nums opponent date_diff
0  2017-10-18     Win      Away          1      BOS         5
1  2017-10-20    Loss      Home          2      CLE         2
2  2017-10-21     Win      Home          3      POR         1
3  2017-10-23     Win      Home          4      CHO         2
4  2017-10-26    Loss      Home          5      BOS         3
..        ...     ...       ...        ...      ...       ...
77 2018-04-03     Win      Home         78      BOS         2
78 2018-04-05    Loss      Home         79      BRK         2
79 2018-04-07     Win      Away         80      NYK         2
80 2018-04-09     Win      Home         81      ORL         2
81 2018-04-11    Loss      Away         82      PHI         2

[82 rows x 6 columns]

In [10]:
#date diff is only the difference between the two games
#creating a column to represent the "rest" days between the games
#"rest" in this case is the days between each game where a game is not being played and does not account for practices
bucks_df["rest"] = bucks_df["date_diff"] - 1 

bucks_df.head()

       dates results locations  game_nums opponent date_diff rest
0 2017-10-18     Win      Away          1      BOS         5    4
1 2017-10-20    Loss      Home          2      CLE         2    1
2 2017-10-21     Win      Home          3      POR         1    0
3 2017-10-23     Win      Home          4      CHO         2    1
4 2017-10-26    Loss      Home          5      BOS         3    2

In [11]:
#write to csv
bucks_df.to_csv("../data/bucks_17_18_rest.csv", index = False)