In [1]:
#Dependencies
import pandas as pd
import numpy as np
from sportsreference.nba.schedule import Schedule
from datetime import date

In [2]:
#bucks schedule object
bucks_schedule_20 = Schedule('MIL', 2020)

In [1]:
#bucks data frame *focusing on pre-bubble regular season game"
dates = []
results = []
locations = []
game_nums = []
opponents = []

for game in bucks_schedule_20:
    
    if game.playoffs == False and game.game < 66:
        print(game.datetime)  
        print(game.result) 
        print(game.location)
        print(game.game)
        dates.append(game.datetime)
        results.append(game.result)
        locations.append(game.location)
        game_nums.append(game.game)
        opponents.append(game.opponents_abbr)

NameError: name 'bucks_schedule_20' is not defined

In [4]:
#creating bucks dictionary
bucks_dict = {
    "dates": dates,
    "results": results,
    "locations": locations,
    "game_nums": game_nums
}

#creating bucks data frame
bucks_df = pd.DataFrame(bucks_dict)
bucks_df

        dates results locations  game_nums
0  2019-10-24     Win      Away          1
1  2019-10-26    Loss      Home          2
2  2019-10-28     Win      Home          3
3  2019-10-30    Loss      Away          4
4  2019-11-01     Win      Away          5
..        ...     ...       ...        ...
60 2020-03-02    Loss      Away         61
61 2020-03-04     Win      Home         62
62 2020-03-06    Loss      Away         63
63 2020-03-08    Loss      Away         64
64 2020-03-09    Loss      Away         65

[65 rows x 4 columns]

In [5]:
#finding the number of games between each game
bucks_df["date_diff"] = 0

for i in range(1,len(bucks_df)):    
    bucks_df["date_diff"][i] = bucks_df["dates"][i] - bucks_df["dates"][(i-1)]
    
bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        dates results locations  game_nums        date_diff
0  2019-10-24     Win      Away          1                0
1  2019-10-26    Loss      Home          2  2 days 00:00:00
2  2019-10-28     Win      Home          3  2 days 00:00:00
3  2019-10-30    Loss      Away          4  2 days 00:00:00
4  2019-11-01     Win      Away          5  2 days 00:00:00
..        ...     ...       ...        ...              ...
60 2020-03-02    Loss      Away         61  1 days 00:00:00
61 2020-03-04     Win      Home         62  2 days 00:00:00
62 2020-03-06    Loss      Away         63  2 days 00:00:00
63 2020-03-08    Loss      Away         64  2 days 00:00:00
64 2020-03-09    Loss      Away         65  1 days 00:00:00

[65 rows x 5 columns]

In [6]:
#inserting value for the date diff in the first game
#using the difference between the last preseason game and the first regular season game
bucks_df["date_diff"][0] = 5

#converting to a time delta
bucks_df["date_diff"][0] = pd.to_timedelta(bucks_df["date_diff"][0], unit = "D")


bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        dates results locations  game_nums        date_diff
0  2019-10-24     Win      Away          1  5 days 00:00:00
1  2019-10-26    Loss      Home          2  2 days 00:00:00
2  2019-10-28     Win      Home          3  2 days 00:00:00
3  2019-10-30    Loss      Away          4  2 days 00:00:00
4  2019-11-01     Win      Away          5  2 days 00:00:00
..        ...     ...       ...        ...              ...
60 2020-03-02    Loss      Away         61  1 days 00:00:00
61 2020-03-04     Win      Home         62  2 days 00:00:00
62 2020-03-06    Loss      Away         63  2 days 00:00:00
63 2020-03-08    Loss      Away         64  2 days 00:00:00
64 2020-03-09    Loss      Away         65  1 days 00:00:00

[65 rows x 5 columns]

In [7]:
#Converting the date difference series back into an integer for easier comparisons
for day in range(0,len(bucks_df["date_diff"])):
    bucks_df["date_diff"][day] = bucks_df["date_diff"][day] / np.timedelta64(1, 'D')


bucks_df

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        dates results locations  game_nums date_diff
0  2019-10-24     Win      Away          1         5
1  2019-10-26    Loss      Home          2         2
2  2019-10-28     Win      Home          3         2
3  2019-10-30    Loss      Away          4         2
4  2019-11-01     Win      Away          5         2
..        ...     ...       ...        ...       ...
60 2020-03-02    Loss      Away         61         1
61 2020-03-04     Win      Home         62         2
62 2020-03-06    Loss      Away         63         2
63 2020-03-08    Loss      Away         64         2
64 2020-03-09    Loss      Away         65         1

[65 rows x 5 columns]

In [8]:
#date diff is only the difference between the two games
#creating a column to represent the "rest" days between the games
#"rest" in this case is the days between each game where a game is not being played and does not account for practices
bucks_df["rest"] = bucks_df["date_diff"] - 1 

bucks_df.head()

       dates results locations  game_nums date_diff rest
0 2019-10-24     Win      Away          1         5    4
1 2019-10-26    Loss      Home          2         2    1
2 2019-10-28     Win      Home          3         2    1
3 2019-10-30    Loss      Away          4         2    1
4 2019-11-01     Win      Away          5         2    1

In [9]:
#write to csv
bucks_df.to_csv("data/bucks_19_20_rest.csv", index = False)