In [1]:
#Joining stadium coordinates to get distance information

In [27]:
#dependencies
import pandas as pd
from geopy import distance

In [7]:
#setting the stadium coordinates, key is the 3 letter team code
arenas_dict = {
    'MIL': (43.0451,  87.9174),
    'TOR': (43.6435,  79.3791),
    'BOS': (42.3662, 71.0621),
    'MIA': (25.7814,  80.1870),
    'IND': (39.7640,  86.1555), 
    'PHI': (39.9012, 75.1720), 
    'BRK': (40.6826, 73.9754), 
    'ORL': (28.5392, 81.3839), 
    'WAS': (38.8981, 77.0208), 
    'CHO': (35.2252, 80.8394), 
    'CHI': (41.8807, 87.6742), 
    'NYK': (40.7505, 73.9934), 
    'DET': (42.3411, 83.0553), 
    'CLE': (41.4966, 81.6881), 
    'ATL': (33.7573, 84.3963), 
    'LAL': (34.0430, 118.2673), 
    'LAC': (34.0430, 118.2673), 
    'DEN': (39.7487, 105.0076), 
    'UTA': (40.7683, 111.9011), 
    'OKC': (35.4634, 97.5151), 
    'HOU': (29.7508, 95.3621), 
    'DAL': (32.7903, 96.8101), 
    'MEM': (35.1381, 90.0506), 
    'POR': (45.5316, 122.6668), 
    'NOP': (33.7114, 78.8844), 
    'SAC': (38.5802, 121.4997), 
    'SAS': (29.4272, 98.4375), 
    'PHO': (33.4457, 112.0712), 
    'MIN': (44.9795, 93.2761), 
    'GSW': (37.7680, 122.3877), 
}

In [10]:
#importing the combined years data
bucks_df = pd.read_csv("../data/bucks_16_20_rest.csv")
bucks_df

          dates results locations  game_nums opponent  date_diff  rest
0    2016-10-26    Loss      Home          1      CHO        5.0   4.0
1    2016-10-29     Win      Home          2      BRK        3.0   2.0
2    2016-10-30    Loss      Away          3      DET        1.0   0.0
3    2016-11-01     Win      Away          4      NOP        2.0   1.0
4    2016-11-03     Win      Home          5      IND        2.0   1.0
..          ...     ...       ...        ...      ...        ...   ...
306  2020-03-02    Loss      Away         61      MIA        1.0   0.0
307  2020-03-04     Win      Home         62      IND        2.0   1.0
308  2020-03-06    Loss      Away         63      LAL        2.0   1.0
309  2020-03-08    Loss      Away         64      PHO        2.0   1.0
310  2020-03-09    Loss      Away         65      DEN        1.0   0.0

[311 rows x 7 columns]

In [18]:
#putting arena into the dataframe

bucks_df["game_arenas"] = ""

for i in range(0,len(bucks_df)):
    if bucks_df["locations"][i] == "Home":
        bucks_df["game_arenas"][i] = arenas_dict.get("MIL")
    else:
        for key in arenas_dict:
            if key == bucks_df["opponent"][i]:
                bucks_df["game_arenas"][i] = arenas_dict.get(key)

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [19]:
bucks_df

,dates,results,locations,game_nums,opponent,date_diff,rest,game_arenas
0,2016-10-26,Loss,Home,1,CHO,5.0,4.0,"(43.0451, 87.9174)"
1,2016-10-29,Win,Home,2,BRK,3.0,2.0,"(43.0451, 87.9174)"
2,2016-10-30,Loss,Away,3,DET,1.0,0.0,"(42.3411, 83.0553)"
3,2016-11-01,Win,Away,4,NOP,2.0,1.0,"(33.7114, 78.8844)"
4,2016-11-03,Win,Home,5,IND,2.0,1.0,"(43.0451, 87.9174)"
...,...,...,...,...,...,...,...,...
306,2020-03-02,Loss,Away,61,MIA,1.0,0.0,"(25.7814, 80.187)"
307,2020-03-04,Win,Home,62,IND,2.0,1.0,"(43.0451, 87.9174)"
308,2020-03-06,Loss,Away,63,LAL,2.0,1.0,"(34.043, 118.2673)"
309,2020-03-08,Loss,Away,64,PHO,2.0,1.0,"(33.4457, 112.0712)"
310,2020-03-09,Loss,Away,65,DEN,1.0,0.0,"(39.7487, 105.0076)"

In [28]:
#logic psuedo code for distance traveled in miles 

bucks_df["travel_miles"] = 0

for i in range(0,len(bucks_df)):
    
    if bucks_df["game_nums"][i] == 1 and bucks_df["locations"][i] == "Home":
        bucks_df["travel_miles"][i] = 0
        
    elif bucks_df["game_nums"][i] == 1 and bucks_df["locations"][i] == "Away":
        bucks_df["travel_miles"][i] = distance.distance(arenas_dict["MIL"], bucks_df["game_arenas"][i]).miles

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [34]:
bucks_df.head(166)

,dates,results,locations,game_nums,opponent,date_diff,rest,game_arenas,travel_miles
0,2016-10-26,Loss,Home,1,CHO,5.0,4.0,"(43.0451, 87.9174)",0
1,2016-10-29,Win,Home,2,BRK,3.0,2.0,"(43.0451, 87.9174)",0
2,2016-10-30,Loss,Away,3,DET,1.0,0.0,"(42.3411, 83.0553)",0
3,2016-11-01,Win,Away,4,NOP,2.0,1.0,"(33.7114, 78.8844)",0
4,2016-11-03,Win,Home,5,IND,2.0,1.0,"(43.0451, 87.9174)",0
...,...,...,...,...,...,...,...,...,...
161,2018-04-07,Win,Away,80,NYK,2.0,1.0,"(40.7505, 73.9934)",0
162,2018-04-09,Win,Home,81,ORL,2.0,1.0,"(43.0451, 87.9174)",0
163,2018-04-11,Loss,Away,82,PHI,2.0,1.0,"(39.9012, 75.172)",0
164,2018-10-17,Win,Away,1,CHO,5.0,4.0,"(35.2252, 80.8394)",659
165,2018-10-19,Win,Home,2,IND,2.0,1.0,"(43.0451, 87.9174)",0

In [36]:
#now the bigger logic

for i in range(0,len(bucks_df)):
    #making sure to not overwrite the game 1 data
    if bucks_df["game_nums"][i] != 1:
        
        #if the previous game was home and they're staying home there is no travel
        if bucks_df["locations"][i-1] == "Home" and bucks_df["locations"][i] == "Home":
            bucks_df["travel_miles"][i] = 0
        
        #if the previous game was home and they're traveling away calculate the distance
        elif bucks_df["locations"][i-1] == "Home" and bucks_df["locations"][i] == "Away":
            bucks_df["travel_miles"][i] = distance.distance(arenas_dict["MIL"], bucks_df["game_arenas"][i]).miles
          
        #if the previous game was away and the current game is home calculate the distance
        elif bucks_df["locations"][i-1] == "Away" and bucks_df["locations"][i] == "Home":
            bucks_df["travel_miles"][i] = distance.distance(arenas_dict["MIL"], bucks_df["game_arenas"][i-1]).miles
            
        #if the previous game was away and the current game is away claculate the distance
        elif bucks_df["locations"][i-1] == "Away" and bucks_df["locations"][i] == "Away":
            bucks_df["travel_miles"][i] = distance.distance(bucks_df["game_arenas"][i], bucks_df["game_arenas"][i-1]).miles

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
bucks_df

,dates,results,locations,game_nums,opponent,date_diff,rest,game_arenas,travel_miles
0,2016-10-26,Loss,Home,1,CHO,5.0,4.0,"(43.0451, 87.9174)",0
1,2016-10-29,Win,Home,2,BRK,3.0,2.0,"(43.0451, 87.9174)",0
2,2016-10-30,Loss,Away,3,DET,1.0,0.0,"(42.3411, 83.0553)",252
3,2016-11-01,Win,Away,4,NOP,2.0,1.0,"(33.7114, 78.8844)",636
4,2016-11-03,Win,Home,5,IND,2.0,1.0,"(43.0451, 87.9174)",808
...,...,...,...,...,...,...,...,...,...
306,2020-03-02,Loss,Away,61,MIA,1.0,0.0,"(25.7814, 80.187)",651
307,2020-03-04,Win,Home,62,IND,2.0,1.0,"(43.0451, 87.9174)",1267
308,2020-03-06,Loss,Away,63,LAL,2.0,1.0,"(34.043, 118.2673)",1745
309,2020-03-08,Loss,Away,64,PHO,2.0,1.0,"(33.4457, 112.0712)",359
310,2020-03-09,Loss,Away,65,DEN,1.0,0.0,"(39.7487, 105.0076)",585

In [40]:
#writing the new distance data to csv
bucks_df.to_csv("../data/bucks_16_20_rest_dist.csv", index = False)