In [1]:
#Dependencies
import pandas as pd
import numpy as np
from sportsreference.nba.schedule import Schedule
from sportsreference.nba.teams import Teams 
from datetime import date, datetime

In [2]:
#defining advanced rest

def adv_rest(team,year):
    #creating the rest day calc function

    def rest_days(team,year):

        #creating the team schedule
        schedule = Schedule(team, year)

        dates = []
        results = []
        locations = []
        game_nums = []
        opponents = []



        for game in schedule:

            if game.playoffs == False :
                dates.append(game.datetime)
                results.append(game.result)
                locations.append(game.location)
                game_nums.append(game.game)
                opponents.append(game.opponent_abbr)

        #creating team dictionary
        team_dict = {
            "dates": dates,
            "results": results,
            "locations": locations,
            "game_nums": game_nums,
            "opponent": opponents
        }

        #creating bucks data frame
        team_df = pd.DataFrame(team_dict)
        team_df

        #finding the number of games between each game
        team_df["date_diff"] = 0

        for i in range(1,len(team_df)):    
            team_df["date_diff"][i] = team_df["dates"][i] - team_df["dates"][(i-1)]

        #inserting value for the date diff in the first game
        #using 10 as a standard for the date difference of the first game (most impactful players don't play preseason anyway)
        team_df["date_diff"][0] = 10

        #converting to a time delta
        team_df["date_diff"][0] = pd.to_timedelta(team_df["date_diff"][0], unit = "D")

        #Converting the date difference series back into an integer for easier comparisons
        for day in range(0,len(team_df["date_diff"])):
            team_df["date_diff"][day] = team_df["date_diff"][day] / np.timedelta64(1, 'D')

        #date diff is only the difference between the two games
        #creating a column to represent the "rest" days between the games
        #"rest" in this case is the days between each game where a game is not being played and does not account for practices
        team_df["rest"] = team_df["date_diff"] - 1 

        return team_df
    
    #passing team to the inner function
    team_df = rest_days(team,year)
    
    opp_diff = []
    opp_rest = []
    
    #iterate through the games
    for i in range(0,len(team_df)):
        
        #for each opponent create a rest dataframe
        opp_df = rest_days(str(team_df['opponent'][i]),year)
        
        #append the rest to the lists
        opp_diff.append(opp_df['date_diff'][i])
        opp_rest.append(opp_df['rest'][i])
    
    #new columns for opponents' values
    team_df['opp_date_diff'] = opp_diff
    team_df['opp_rest'] = opp_rest
    
    #creating a rest difference column
    team_df['rest_diff'] = team_df['rest'] - team_df['opp_rest']
    
    return team_df

In [4]:
#creating a league dataset 2016-2018 regular seasons

#getting a list of team abbreviations to pass to the function

team_abbrv = []

teams = Teams()

for team in teams:
    team_abbrv.append(team.abbreviation)
    print(team.abbreviation)

MIL
BRK
WAS
UTA
POR
DEN
NOP
LAC
SAC
GSW
IND
ATL
MEM
PHI
PHO
DAL
TOR
BOS
MIN
SAS
CHI
HOU
CHO
LAL
DET
MIA
NYK
OKC
ORL
CLE

In [5]:
#rest data for 2018 season
rest_18 = adv_rest('MIL',2018)
rest_18['abbrv'] = str('MIL')

count = 1


for team in team_abbrv[1:]:
  
    print(count)
    
    team_df = adv_rest(str(team),2018)
    team_df['abbrv'] = str(team)
    rest_18 = pd.concat([rest_18,team_df], ignore_index=True)
    
    count +=1

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [6]:
#rest data for 2017 season
rest_17 = adv_rest('MIL',2017)
rest_17['abbrv'] = str('MIL')

count = 1


for team in team_abbrv[1:]:
  
    print(count)
    
    team_df = adv_rest(str(team),2017)
    team_df['abbrv'] = str(team)
    rest_17 = pd.concat([rest_17,team_df], ignore_index=True)
    
    count +=1

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [8]:
rest_data = pd.concat([rest_18,rest_17],ignore_index=True)

training_data = rest_data.copy()

training_data

,dates,results,locations,game_nums,opponent,date_diff,rest,opp_date_diff,opp_rest,rest_diff,abbrv
0,2017-10-18,Win,Away,1,BOS,10,9,10.0,9.0,0,MIL
1,2017-10-20,Loss,Home,2,CLE,2,1,3.0,2.0,-1,MIL
2,2017-10-21,Win,Home,3,POR,1,0,1.0,0.0,0,MIL
3,2017-10-23,Win,Home,4,CHO,2,1,2.0,1.0,0,MIL
4,2017-10-26,Loss,Home,5,BOS,3,2,2.0,1.0,1,MIL
...,...,...,...,...,...,...,...,...,...,...,...
4915,2017-04-05,Win,Away,78,BOS,1,0,3.0,2.0,-2,CLE
4916,2017-04-07,Loss,Home,79,ATL,2,1,1.0,0.0,1,CLE
4917,2017-04-09,Loss,Away,80,ATL,2,1,2.0,1.0,0,CLE
4918,2017-04-10,Loss,Away,81,MIA,1,0,2.0,1.0,-1,CLE
4919,2017-04-12,Loss,Home,82,TOR,2,1,3.0,2.0,-1,CLE

In [19]:
#converting types

for i in range(0,len(training_data['date_diff'])):
    training_data['date_diff'][i] = int(training_data['date_diff'][i]) 
    
training_data['date_diff'] = training_data['date_diff'].astype(str).astype(int)

training_data['rest'] = training_data['rest'].astype(int)

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [51]:
training_data[['date_diff', 'rest', 'opp_date_diff','opp_rest']].describe()

         date_diff         rest  opp_date_diff     opp_rest
count  7380.000000  7380.000000    7380.000000  7380.000000
mean      2.198645     1.198645       2.146206     1.146206
std       1.332955     1.332955       1.309076     1.309076
min       1.000000     0.000000       1.000000     0.000000
25%       2.000000     1.000000       2.000000     1.000000
50%       2.000000     1.000000       2.000000     1.000000
75%       2.000000     1.000000       2.000000     1.000000
max      10.000000     9.000000      10.000000     9.000000

In [20]:
training_data.dtypes

dates            datetime64[ns]
results                  object
locations                object
game_nums                 int64
opponent                 object
date_diff                 int32
rest                      int32
opp_date_diff           float64
opp_rest                float64
rest_diff                object
abbrv                    object
dtype: object

In [12]:
#export to csv
training_data.to_csv('../data/training_data.csv',index = False)

In [21]:
#rest data for 2016 season
rest_16 = adv_rest('MIL',2016)
rest_16['abbrv'] = str('MIL')

count = 1


for team in team_abbrv[1:]:
  
    print(count)
    
    team_df = adv_rest(str(team),2016)
    team_df['abbrv'] = str(team)
    rest_16 = pd.concat([rest_16,team_df], ignore_index=True)
    
    count +=1

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [42]:
rest_data = pd.concat([rest_16,rest_17,rest_18],ignore_index=True)

training_data = rest_data.copy()

training_data

,dates,results,locations,game_nums,opponent,date_diff,rest,opp_date_diff,opp_rest,rest_diff,abbrv
0,2015-10-28,Loss,Home,1,NYK,10,9,10.0,9.0,0,MIL
1,2015-10-30,Loss,Home,2,WAS,2,1,2.0,1.0,0,MIL
2,2015-11-01,Loss,Away,3,TOR,2,1,2.0,1.0,0,MIL
3,2015-11-02,Win,Away,4,BRK,1,0,2.0,1.0,-1,MIL
4,2015-11-04,Win,Home,5,PHI,2,1,2.0,1.0,0,MIL
...,...,...,...,...,...,...,...,...,...,...,...
7375,2018-04-03,Win,Home,78,TOR,2,1,1.0,0.0,1,CLE
7376,2018-04-05,Win,Home,79,WAS,2,1,2.0,1.0,0,CLE
7377,2018-04-06,Loss,Away,80,PHI,1,0,2.0,1.0,-1,CLE
7378,2018-04-09,Win,Away,81,NYK,3,2,2.0,1.0,1,CLE
7379,2018-04-11,Loss,Home,82,NYK,2,1,2.0,1.0,0,CLE

In [43]:
#converting types

for i in range(0,len(training_data['date_diff'])):
    training_data['date_diff'][i] = int(training_data['date_diff'][i]) 
    
training_data['date_diff'] = training_data['date_diff'].astype(str).astype(int)

training_data['rest'] = training_data['rest'].astype(int)

C:\Users\Administrator\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [44]:
#export to csv
training_data.to_csv('../data/training_data.csv',index = False)