In [1]:
#dependencies
import pandas as pd

In [2]:
#data import
df_2017 = pd.read_csv("data/bucks_16_17_rest.csv")
df_2018 = pd.read_csv("data/bucks_17_18_rest.csv")
df_2019 = pd.read_csv("data/bucks_18_19_rest.csv")
df_2020 = pd.read_csv("data/bucks_19_20_rest.csv")

bucks_df = pd.concat([df_2017,df_2018],ignore_index = True)
bucks_df = pd.concat([bucks_df,df_2019],ignore_index = True)
bucks_df = pd.concat([bucks_df,df_2020],ignore_index = True)

bucks_df

          dates results locations  game_nums  date_diff  rest
0    2016-10-26    Loss      Home          1        5.0   4.0
1    2016-10-29     Win      Home          2        3.0   2.0
2    2016-10-30    Loss      Away          3        1.0   0.0
3    2016-11-01     Win      Away          4        2.0   1.0
4    2016-11-03     Win      Home          5        2.0   1.0
..          ...     ...       ...        ...        ...   ...
306  2020-03-02    Loss      Away         61        1.0   0.0
307  2020-03-04     Win      Home         62        2.0   1.0
308  2020-03-06    Loss      Away         63        2.0   1.0
309  2020-03-08    Loss      Away         64        2.0   1.0
310  2020-03-09    Loss      Away         65        1.0   0.0

[311 rows x 6 columns]

In [3]:
#counts on results, locations and rest days 
bucks_df["results"].value_counts()

Win     199
Loss    112
Name: results, dtype: int64

In [4]:
bucks_df["locations"].value_counts()

Away    157
Home    154
Name: locations, dtype: int64

In [5]:
bucks_df["rest"].value_counts()

1.0    189
0.0     56
2.0     44
3.0     14
4.0      4
7.0      3
8.0      1
Name: rest, dtype: int64

In [6]:
#group by rest days
bucks_df.pivot_table(index= "rest", columns="results", aggfunc= "size", fill_value=0)

results  Loss  Win
rest
0.0        23   33
1.0        63  126
2.0        16   28
3.0         8    6
4.0         1    3
7.0         0    3
8.0         1    0

In [7]:
#group by home/away 
bucks_df.pivot_table(index= "locations", columns=["results"], aggfunc='size', fill_value=0)

results    Loss  Win
locations
Away         67   90
Home         45  109

In [8]:
#group by home/away pt. 2
bucks_df.pivot_table(index= "locations", columns=["rest"], aggfunc='size', fill_value=0)

rest       0.0  1.0  2.0  3.0  4.0  7.0  8.0
locations
Away        35   91   21    5    3    2    0
Home        21   98   23    9    1    1    1